body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.question {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 60%;
    margin: auto;
}
h4 {
    color: #333;
    text-align: left;
    margin: 10px;
    line-height: 20px;
}
h1 {
    text-align: center;
    color: #444;
}
label {
    margin-left: 5px;
}